<% title h(@web_numerical_results_group.name) %>

<p>
  <b>Name:</b>
  <%= @web_numerical_results_group.name %>
</p>

<p>
  <b>Order:</b>
  <%= @web_numerical_results_group.order %>
</p>


<%= link_to 'Edit', edit_web_numerical_results_group_path(@web_numerical_results_group) %> |
<%= link_to 'Back to Web Numerical Results Group', web_numerical_results_groups_path %>
