<% title "New va medicaid rate" %>

<% form_for(@va_medicaid_rate) do |f| %>
  <% @va_medicaid_rate.errors.full_messages.each do |msg| %>
	<p><%= msg %></p>
  <% end %>
	<%= render :partial => "form", :object => f %>
  <%= f.submit "Create", :class => "button" %> <%= link_to 'Cancel', :back %>
<% end %>
