<% title "Editing va_medically_needy_monthly_income_limits" %>

<% form_for(@va_medically_needy_monthly_income_limit) do |f| %>
  <% @va_medically_needy_monthly_income_limit.errors.full_messages.each do |msg| %>
	<p><%= msg %></p>
<% end %>
	<%= render :partial => "form", :object => f %>
  <%= f.submit "Update", :class => "button" %> <%= link_to 'Cancel', :back %>
<% end %>
