<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Activate your account at WorkWorld on the Web, <%= @user.login %></h1>
    <p>Thank you for creating an account! Click the url below to activate it!</p>

    <p><%= @url %></p>

    <p>If the above URL does not work try copying and pasting it into your browser. If you continue to have problem, please feel free to contact us.</p>
  </body>
</html>

