<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have received a shared file on WorkWorld, <%= @user.login %></h1>
    <p>Another user has asked to share a file with you. You can find the file at the following URL:</p>

    <p><%= @url %></p>

    <p>If the above URL does not work try copying and pasting it into your browser. If you continue to have problem, please feel free to contact us.</p>
  </body>
</html>
