<% title "Edit Web Tip Inserts" %>

<% form_for(@web_tip_insert) do |f| %>
  <% @web_tip_insert.errors.full_messages.each do |msg| %>
	<p><%= msg %></p>
  <% end %>
	<%= render :partial => "form", :object => f %>
  <p>
    <%= f.submit 'Update', :class => "button" %> <%= link_to 'Cancel', :back %>
  </p>
<% end %>
