<% title "New medicaid_annual_blind_threshold" %>

<% form_for(@medicaid_annual_blind_threshold) do |f| %>
  <% @medicaid_annual_blind_threshold.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
  <% end %>
	<%= render :partial => "form", :object => f %>
  <%= f.submit "Create", :class => "button" %> <%= link_to 'Cancel', :back %>
<% end %>
