<div id="footer">
	<p>
		Development of WW-Web has been supported by: <br />
		<br />
		Virginia Department of Rehabilitative Services through the Productivity Investment Fund, Office of the Governor<br />
		Virginia Department of Medical Assistance Services through the Medicaid Infrastructure Grant<br />
		Virginia Department for the Blind and Vision Impaired<br />
		Virginia Department of Social Services<br />
		Virginia Department of Behavioral Health and Developmental Services<br />
		Virginia Department of Education<br />
		Virginia Board for People with Disabilities<br />
	</p>
</div>