<% title "Welcome to WorkWORLD on the Web (WW-Web)" %>

<div id='banner'>
	<div id='features'>
		<p>
    This current version is designed for Virginians* with disabilities who receive or are applying for any or all of the following benefits:
    </p>
			<ul>
				<li>Supplemental Security Income (SSI)</li>
				<li>Social Security Disability Insurance (SSDI)</li>
				<li>Medicaid</li>
				<li>Medicare</li>
			</ul>
		<p>
			* In the future, WW-Web will include more benefit programs and will help residents of other states.
		</p>
	</div>
	<div id='info'>
		<p>
			With WW-Web you can explore ways to increase your net income through employment or self-employment. This tool will tell you what will happen to your benefits if you earn different amounts and if you use the various “work incentives” that the benefit programs provide for you. WW-Web can help you find a safe path toward more financial independence, a path in which you keep the benefits you need until you can reduce or eliminate your need for those benefits.
		</p>
	</div>
	<div class='clear'></div>
</div>
<div id='call-to-action'>
	<div id='buttons'>
		<ul>
			<li class='left'><%= link_to "Click here to Register as a New User", register_path %></li>
			<li class='right'><%= link_to "Click here to Log In", login_path %></li>
		</ul>
	</div>
	<div>
		<p>
			To use this tool you must register. Doing so allows you to save your work so that you can return to it later and to share your work with others in the WW-Web community. It also allows us to notify you about improvements to WW-Web. (See our <%= link_to "Privacy Policy", page_path("privacy_policy") %> for assurance that we keep your information secure and that we do not reveal any of your personal information to any other agencies or individuals.)
		</p>
	</div>
</div>

