<% title "Privacy Policy" %>
<h2>Privacy Policy</h2>
<h3>General</h3>
<p>WorkWORLD-Web (WW-Web) has been designed to ensure the privacy of users and their data.
We do not give, sell, or transfer any information you have provided for the purpose of registration, file sharing, or file development, except as aggregated usage data with all personally identifiable information removed.</p>
<p>The WW-Web site has security measures in place to protect against the loss, misuse, and alteration of the information under our control. Information collected on our site is stored in secure operating environments that are not available to the public. We monitor security functions and policies on a regular basis.</p>
<p>WW-Web contains external links to other websites. We are not responsible for the privacy practices or the content of other websites.</p>
<p>As a user, you are responsible if you choose to disclose personally identifiable information.  You should exercise caution before you do so on this or any other website.</p>
<h3>Registration</h3>
<p>When you register to be a WW-Web user, you must provide a login name, email address, and password.  You may choose any unique login name (use of your actual name is not required) and your login name will be maintained confidential, as well as the email address and password you provide.</p>
<p>You may change your information at any time.</p>
<p>Your information will not be shared with any third party, except as aggregated usage data. Your login name, counselor name, or any other information you provide will not be attributed to any activity or behavior on the site.</p>
<h3>File Sharing</h3>
<p>Options for "File Sharing" are offered at the Registration Page.  File sharing allows you to share some or all of your case files with selected other users of WW-Web. It also allows other users to share their files with you.  You decide whether to share one or more of your cases and, if so, decide which other WW-Web users to share the cases with.  You separately decide whether to allow other users to share their cases with you and, if so, decide whether you want to receive an email when someone else wants to share a case with you.</p>
<p>You may change these options at any time</p>
<p>To share files, you <i>must</i> know the login name of the person you wish to share your files with. Likewise, for someone else to share a file with you, they <i>must</i> know your login name. Other users can not gain access to your account, and you cannot access other users' accounts simply because a login name is known.</p>
<p>Your email address is never revealed to other users under any circumstances. A complete description of file sharing options and procedures is provided at the "File Sharing" topic in the WW-Web Help/Information System.</p>
<h3>File Development</h3>
<p>Development of case files on WW-Web does not require any personally-identifiable information.</p>