<% title "Editing web text results group" %>

<% form_for(@web_text_results_group) do |f| %>
  <% @web_text_results_group.errors.full_messages.each do |msg| %>
	<p><%= msg %></p>
  <% end %>
	<%= render :partial => "form", :object => f %>
  <p>
    <%= f.submit 'Update', :class => "button" %> <%= link_to 'Cancel', :back %>
  </p>
<% end %>