<% title "New web text results group" %>

<% form_for(@web_text_results_group) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => "form", :object => f %>
  <p>
    <%= f.submit 'Create', :class => "button" %> <%= link_to 'Cancel', :back %>
  </p>
<% end %>
