<% title "Editing federal_rate" %>

<% form_for(@federal_rate) do |f| %>
  <% @federal_rate.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
  <% end %>
	<%= render :partial => "form", :object => f %>
  <%= f.submit "Update", :class => "button" %> <%= link_to 'Cancel', :back %>
<% end %>
