<% title "Create Text Result Insertion" %>

<% form_for(@text_result_insert) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => "form", :object => f %>
  <p>
    <%= f.submit 'Create', :class => "button" %> <%= link_to 'Cancel', :back %>
  </p>
<% end %>
